<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<link rel="icon" href="/images/favicon.png" />
<head>
<meta charset="utf-8"/>
<title>Update bid</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container col-6">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/update/{id}(id=${bidList.bidListId})}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of Bid, there are 2 buttons: Update data and Cancel to the list Bid
			 -->
			<div class="form-group">
				<label  class="col-sm-2 control-label">Account</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{account}" id="account" placeholder="Account" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">Type</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{type}" id="type" placeholder="type" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-sm-2 control-label">Bid quantity</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{bidQuantity}" id="bid quantity" placeholder="bid quantity" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" href="/bidList/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Update Bid">
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>